useDynLib(Starr)

export("bpmapToProbeAnno", "profileplot", "correlate", "correlationPlot",       
		"expressionByFeature", "fill", "fillNA", "filterGenes",
		"getFeature", "getIntensities", 		
		"getMeans", "getProfiles",           
		"getProfilesByBase", "getRatio",             
		"intersection", "list2matrix",             
		"makeProbeAnno", "mapFeatures",             
		"normalize.Probes", "plotBoxes",  "plotDensity",           
		"plotGCbias", "plotImage",              
		"plotMA",  "plotPosBias",            
		"plotProfiles", "rankPercentile.normalize",
		"read.gffAnno", "readCelFile",             
		"RGlist2ExpresionSet", "sameLength",             
		"singleclusterplot", "substract",               
		"whichIn", "windowxy",                
		"writeGFF",  "writePosFile",  
		"densityscatter", "kde2dplot",
		"plotScatter", "plotRatioScatter",
		"makeSplines", "backgd.sd","cmarrt.ma","cmarrt.peak",
		"declare.bound", "ma.stat", "plotcmarrt",
		"rm.small.peak", "sortbygenomic", "remap", "match_ac")



import(Ringo)
import("pspline")
import("MASS")
importFrom("affy", "xy2indices", "normalize.loess")
importFrom("affxparser", "readBpmap", "readCel", "readCelHeader", "readCelIntensities")


